body {
    background-color: rgb(15, 15, 60);
    color: white;
    text-align: center;
}

#heading {
    display: flex;
    justify-content: center;
}

.playerSelections {
    display: flex;
    justify-content: center; 
    gap: 100px;
}

.running-score {
    padding-top: 20px;
    font-size: 25px;
}

.player-won {
    color: rgb(7, 199, 7);
}

.computer-won {
    color: rgb(226, 0, 0);
}